<div class="top-row px-4">
    <h1 class="site-title"><a href="/My-Blog" class="text-reset text-decoration-none">@Constants.SiteTitle</a></h1>
    <div>
        <h3>About Me</h3>
        <img src="My-Blog/assets/img/me.jpg" />
        <p>
            I am James Maher, a software developer in the Midwest, USA. I like anything Microsoft stack related, such as C#, .NET, UWP, .NET Core, Xamarin, WPF, ASP.NET MVC, WCF, and other technologies. When I am not working, I like to be active and do things like running, playing tennis and hiking. I also like music, specifically classical piano, which I am not terrible at playing.
        </p>
    </div>
    <div class="links">
        <a href="My-Blog/@Constants.BlogPath/">Blog</a>
    </div>
</div>